<h1> <%= @user.name %> </h1>
<h2> <%= @user.email %> </h2> 

<h4> Created Events </h4>
<%= render 'shared/table', object: @created_events %>


<h4> Upcoming Events </h4>
<%= render 'shared/table', object: @upcoming_events %>

<h4> Previous Events </h4>
<%= render 'shared/table', object: @prev_events %>