<% unless @event.attendees.include?(current_user) %>
	<%= form_for(current_user.invites.build(attended_event_id: @event.id)) do |f| %>
		  <%= f.hidden_field :attended_event_id, :value => @event.id %>
			<%= f.submit "Attend Event" %>
	<% end %>
<% end %>
<h1><%= @event.title %> by <%= link_to "#{@creator.name}", user_path(@creator[:id]) %></h1>

<p> <%= @event.description %> </p>
<p>		<%= @event.date.strftime("%B %d, %Y") %> at <%= @event.date.strftime("%I:%M %p") %>
</p>

<h3> Attendees </h3>
<% @attendees.each do |attendee| %>
	<%= link_to "#{attendee.name}", user_path(attendee[:id]) %>
<% end %>

