
<h1><%= @event.title %> by <%= link_to "#{@creator.name}", user_path(@creator[:id]) %></h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
<% if @event.attendees.include?(current_user) %>
	<%= form_for(current_user.invites.find_by(attended_event_id: @event.id), :html => { :method => :delete }) do |f| %>
		<%= f.submit "Leave Event", class: "btn btn-danger" %>
	<% end %>


<% else %> 
	<%= form_for(current_user.invites.build(attended_event_id: @event.id)) do |f| %>
		  <%= f.hidden_field :attended_event_id, :value => @event.id %>
			<%= f.submit "Attend Event", class: "btn btn-success" %>
	<% end %>
<% end %>
<h2>		<%= @event.date.strftime("%B %d, %Y") %> at <%= @event.date.strftime("%I:%M %p") %>
</h2>
<h4> Additional Info </h4>
<h2> <%= @event.description %> <h2>


<h4> Attendees </h4>
<% if @attendees.empty? %> 
	<h2>None</h2>
<% else %>
	<% @attendees.each do |attendee| %>
	<h2>
		<%= link_to "#{attendee.name}", user_path(attendee[:id]) %>
	</h2>
	<% end %>
<% end %>
	</div>
</div>
